.action-bar {
  display: flex;
  align-items: center;
  margin-bottom: 16px;

  .search-field { width: 300px; }
}

.no-edition {
  opacity: 0.6;
  font-style: italic;
  text-align: center;
  padding: 48px 0;
}
