import { Environment } from 'shared';

export const environment: Environment = {
  production: false,
  apiBaseUrl: 'http://localhost:5127',
  conventionId: 'ac976ccb-7751-4768-a944-99539d12eb43', // ersätt med ditt lokala conventionId
};
